body {
  margin: 0;
  padding: 0;
  /* font-family: sans-serif; */
  background-color: #6CC3D5;
}

/* ------------------APP.js---------------- */

.news-container {
  padding: 2rem;
  border-radius: 1rem;
  margin-top: 3rem;
}

/* ------------------NAVBAR.js---------------- */
.navbar {
  position: sticky;
  top: 0;
  z-index: 2;
}

/* ------------------CATEGORIES.js---------------- */

.searcher {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: left;
}

/* ------------------ARTICLE.js---------------- */

.source-name {
  padding: 0.5rem;
  margin-bottom: 0;
}

.read-share {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.social-media {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.sm-icon {
  cursor: pointer;
}

/* -----------------FULL ARTICLE.js-------------- */

.fit-image {
  width: 100%;
  object-fit: cover;
  height: 500px;
}

.source-name {
  display: inline-block;
}

/* ------------------FOOTER.js---------------- */

.footer-container {
  margin-top: 3rem;
  height: 25vh;
  text-align: center;
  background-color: #dfe0e1;
}

.footer-text {}

.footer-link {
  text-decoration: none !important;
  color: #a09f9f !important;
}

.footer-link:hover {
  color: #706f6f !important;
}